@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
}

body {
    background-image: url(assets/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: max-content;
    width: auto;
    scroll-behavior: smooth;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
    width: auto;
    height: max-content;
}

nav ul {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, .5);
    border: .5px solid white;
    list-style: none;
    padding: 10px 10px;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 2px black);
}

li > a {
    text-decoration: none;
    color: whitesmoke;
    filter: drop-shadow(2px 2px 2px black);
    font-weight: 600;
    padding-inline: 15px;
}

section {
    width: 100%;
    min-height: 100vh;
}

h4 {
    color: white;
    text-align: center;
}

#home > h4 {
    margin-top: 130px;
}

#asteroid-2 {
    height: 160px;
    position: absolute;
    top: 330px;
    left: 200px;
    transition: .2s ease-in-out;
}

#roket {
    height: 160px;
    position: absolute;
    top: 650px;
    right: 200px;
    transition: .2s ease-in-out;
}

#bumi {
    height: 160px;
    position: absolute;
    top: 1250px;
    left: 280px;
    transition: .2s ease-in-out;
}

#asteroid {
    height: 160px;
    position: absolute;
    top: 1550px;
    right: 250px;
    transition: .2s ease-in-out;
}

img:hover {
    scale: 1.1;
}
